@font-face {
    font-family: Roboto;
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --main-light-color: #8168bd;
    --main-color: #473968;
    --main-dark-color: #0d0a13;
    --off-white: #e6e1f2;
    --grey: #6e6c71;
    --orange: #bd8168;
    --green: #68bd81;
    --default-font-size: 16px;
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration-line: none;
    font-family: Roboto, sans-serif;
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--main-color);
}

.nav-wrapper li, .nav-wrapper li a {
    color: #ffffff;
    font-size: calc(var(--default-font-size) * 1.5);
    font-weight: bold;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-wrapper *:not(:first-child) {
    margin-left: 26px;
}

.dashboard > p {
    font-weight: bold;
    font-size: calc(var(--default-font-size) * 2);
    margin-bottom: 32px;
}

.nav-spacer {
    height: 45px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    align-self: center;
    display: grid;
    width: 30vw;
}

input[type="search"] {
    height: 32px;
    width: 100%;
    border-radius: 16px;
    background-color: var(--off-white);
    padding: 8px;
    padding-left: 16px;
    margin-left: 88px;
}

input[type="search"]:focus {
    outline: none;
}

.user-profile {
    margin-top: 18px;
    justify-items: end;
    margin-right: 48px;
}

.user-profile::before {
    top: 16px;
    right: 16px;
}

.header, .user-profile, .announcement-card > p, .trending-card > p, .project-header {
    color: var(--main-dark-color);
    font-weight: bold;
    font-size: calc(var(--default-font-size) * 1.5);
}

.header-bottom {
    display: flex;
}

.greeting-wrapper {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 36px;
}

.greeting-wrapper > p {
    position: relative;
    left: 32px;
}

.greeting {
    grid-row: 1 / 2;
    align-self: end;
    font-size: calc(var(--default-font-size) * 1.2);
}

.user-profile-tag {
    grid-row: 2 / 3;
    font-size: calc(var(--default-font-size) * 1.75);
}

.media-buttons {
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: end;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.media-buttons > button {
    color: #ffffff;
    background-color: var(--main-color);
    font-size: calc(var(--default-font-size) * 1.3);
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 32px;
    flex-grow: 1;
}

.media-buttons > button:hover {
    background-color: #392e53;
}

.announcement-header {
    font-weight: bold;
}

.tag, .announcement-header {
    color: var(--main-dark-color);
    font-size: calc(var(--default-font-size) * 1.2);
}

.content {
    color: var(--grey);
    font-size: calc(var(--default-font-size) * 1.2);
}

.announcement-info {
    color: var(--grey);
}

.main-content {
    display: flex;
    background-color: var(--main-light-color);
    padding-bottom: 5vh;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
}

.project-header {
    margin-top: 48px;
    margin-left: 22px;
}

.project-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 28px;
    margin-top: 16px;
    margin-left: 22px;
    margin-right: 22px;
    flex-grow: 1;
}

.card {
    background-color: #ffffff;
    padding: 32px;
    min-height: 33%;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border-left: 8px solid var(--orange);
}

.card .header {
    display: unset;
    grid-column: 1 / 3;
    align-content: center;
}

.card .content {
    grid-column: 1 / 3;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    grid-column: 2 / 3;
    align-self: flex-end;
}

.media {
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}

/* announcement and trending cards */

.media > div > div {
    margin-top: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 32px;
}

.announcement-card {
    flex-grow: 1;
}

.announcement-card > p, .trending-card > p {
    margin-top: 48px;
}

.announcement-card > div > div:not(:last-child) {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 16px;
}

.announcement-card > div > div:not(:first-child) {
    padding-top: 16px;
}

.announcement-header {
    padding-bottom: 4px;
}

.trending-profile {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 48px auto;
}

.trending-profile > p {
    grid-column: 2 / 3;
    padding-left: 16px;
}

.trending-card > div > div:not(:last-child) {
    padding-bottom: 32px;
}

/* icons */ 

.nav > *::before, .nav::before  {
    background-repeat: no-repeat;
    filter: invert();
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 24px;
    position: relative;
    top: 4px;
}

.dashboard p::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/view-dashboard.svg);
    width: 48px;
    height: 48px;
    margin-right: 11px;
    margin-left: 30px;
    top: 14px;
}

.home-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/home.svg);
    width: 24px;
    height: 24px;
}

.profile-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/card-account-details-outline.svg);
    width: 24px;
    height: 24px;
}

.messages-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/message.svg);
    width: 24px;
    height: 24px;
}

.history-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/clock-time-three.svg);
    width: 24px;
    height: 24px;
}

.tasks-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/file-multiple.svg);
    width: 24px;
    height: 24px;
}

.communities-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/account-group.svg);
    width: 24px;
    height: 24px;
}

.settings-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/cog.svg);
    width: 24px;
    height: 24px;
}

.support-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/help-box.svg);
    width: 24px;
    height: 24px;
}

.privacy-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/shield-check.svg);
    width: 24px;
    height: 24px;
}

.search-bar::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/magnify.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    align-self: center;
    margin-left: 48px;
    margin-right: 16px;
}

.notif-bell {
    background-image: url(./icons/bell-ring-outline.svg);
    background-color: white;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    align-self: center;
    margin-left: auto;
}

.profile-icon::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/profile-default-svgrepo-com.svg);
    background-repeat: no-repeat;
}

.user-profile::before {
    width: 48px;
    height: 48px;  
    position: relative;
    margin-left: 48px;
}

.greeting-wrapper::before {
    position: relative;
    grid-row: 1 / 3;
    top: 16px;
    max-width: 96px;
    max-height: 96px;
    min-width: 48px;
    min-height: 48px;
}

.card-icons > button {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
}

.favourite-icon:hover, .interested-icon:hover, .share-icon:hover {
    fill: #68bd81;
}

.trending-profile-icon {
    height: 48px;
    width: 48px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}