@font-face {
    font-family: Roboto;
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration-line: none;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #473968;
}

.nav-wrapper li, .nav-wrapper li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.nav-wrapper {
    margin-top: -8px;
    display: flex;
    flex-direction: column;
}

.nav-wrapper *:not(:first-child) {
    margin-left: 26px;
    margin-bottom: 16px;
}

.dashboard > p {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 32px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project-main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 22px;
}

.project-wrapper {
    flex-grow: 1;
}

.media {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* icons */ 

.nav > *::before, .nav::before  {
    background-repeat: no-repeat;
    filter: invert();
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 24px;
    position: relative;
    top: 4px;
}

.dashboard p::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/view-dashboard.svg);
    width: 48px;
    height: 48px;
    margin-right: 11px;
    margin-left: 30px;
    top: 14px;
}

.home-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/home.svg);
    width: 24px;
    height: 24px;
}

.profile-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/card-account-details-outline.svg);
    width: 24px;
    height: 24px;
}

.messages-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/message.svg);
    width: 24px;
    height: 24px;
}

.history-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/clock-time-three.svg);
    width: 24px;
    height: 24px;
}

.tasks-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/file-multiple.svg);
    width: 24px;
    height: 24px;
}

.communities-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/account-group.svg);
    width: 24px;
    height: 24px;
}

.settings-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/cog.svg);
    width: 24px;
    height: 24px;
}

.support-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/help-box.svg);
    width: 24px;
    height: 24px;
}

.privacy-option::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/shield-check.svg);
    width: 24px;
    height: 24px;
}






