@font-face {
    font-family: Roboto;
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration-line: none;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

.header {
    grid-column: 2 / 3;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #00b0f0;
}

.nav {
    height: 60%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
}

.dashboard {
    grid-row: 1 / 3;
}

.main-content {
    display: flex;
}

.project-main {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 22px;
}

.project-wrapper {
    flex-grow: 3;
}

.media {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}


